<div class="container">
	<div class="col">
		<div class="jumbotron text-center bg-secondary">
			<br>
			<br>
			<h2 class = "display-4">Welcome Segment Test</h2>
			<p>This is the subsegment of the Welcome segment</p>
			<hr class = "my-4">
			<p>This line is BELOW the cut off line</p>
			<div class = "btn-group">
				<button type="button" class="btn btn-primary btn-lg">Large button</button>
				<button type="button" class="btn btn-dark btn-lg">Large button</button>
			</div>      
		</div>
	</div>
</div>


<p><%= link_to 'Articles', articles_path %></p>
<p><%= link_to 'About', pages_about_path %></p>
